<% profiles.forEach(function(profile){ %>
    <div class="inner-box">
        <div class="profielfoto">
            <img src="/images/profielfoto1.png" class="profielfoto1" />
        </div>
        <h2><%= profile.name %></h2>
        <h3><%= profile.age %></h3>
        <h3><%= profile.plaats %></h3>
    </div>
<% }); %>